<mat-toolbar class="brewerbase-header" fxLayout="row" fxLayoutAlign="center center" color="primary">
  <span fxFlex="5">
    <img class="header-logo" src="../../../assets/kla-bcc-small.png" (click)="navigate(['home'])"/>
  </span>
  <span fxFlex fxLayoutAlign="end" fxLayout="row" *ngIf="getAuthState() | async; else sign_in">
    <button mat-button (click)="navigate(['breweries'])">Breweries</button>
    <button mat-button (click)="navigate(['user-profile'])">User Profile</button>
    <button mat-button (click)="signOut()">Sign Out</button>
  </span>
  <ng-template #sign_in>
    <span fxFlex fxLayoutAlign="end" fxLayout="row">
        <button mat-button (click)="navigate(['auth'])">Sign In</button>
    </span>
  </ng-template>
</mat-toolbar>
