/* You can add global styles to this file, and also import other style files */

.header-logo {
    vertical-align: middle;
    cursor: pointer;
}

body {
  background-color: black;
  margin: 0;
  background-image: url("./assets/firebase-black.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.mat-card {
    margin: 10px;
}

.brewerbase-footer {
  position:absolute;
  bottom:0;
}

.footer-text {
  font-size: 1rem;
}
